{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content%}
{{block.super}}

<div class="container-fluid mt-5">
    <h6 class="" style="font-style:italics;">{{photo.title}} from {{photo.location}}</h6>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{{photo.website}}" >
                <img style="width: 75%; height: 90vh; margin-top:3rem; margin-left:10rem" src="{{photo.image.url}}" id="imgid" class="card-img-top">
            </a>
            <p style="position:absolute; top:20rem; left:30rem; color:white;" id="showtxt">Click to view website</p>
            <div class="card" style="background-color:white; margin-top:0px; width:75%;  margin-left:10rem; padding:2rem">
                <h5 class="card-title">{{photo.title}}</h5>
                <p class="card-text">by {{photo.website.username}}({{photo.location}})</p>
                <p>{{photo.description}}</p>
                <div class="card-footer">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    <div class="form-group">
                        <button class="btn btn-info" type="submit" style="width:100%">Vote</button>
                    </div>
                </form>

                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card" style="width:75%;margin-top:3rem; margin-left:10rem">
                <div class="card-header" style="padding:1.5rem">USER VOTES</div>
                 {%for rate in rates%}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/profile/{{ rate.website.author.username }}"><img class="" src="{{ user.profile.picture.url }}" style="border-radius: 50%; width: 3rem; height:3rem"></a>
                            <p style="display: inline-block; font-size:17px; margin-left:20px"><span style="font-weight: bold;" >{{rate.website.author.username}}</span> from {{rate.website.location}}</p>
                            <p style="display:flex; flex-direction:row; justify-content:flex-end;">{{rate.creativity}} {{rate.content}} {{rate.design}} {{rate.usability}}</p>
                        </li>
                    </ul>
                {% endfor%}
            </div>
        </div>

    </div>
</div>
{% endblock %}